<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecologia</title>
    <link rel="stylesheet" href="./conteudo.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <section id="intro">
        <div class="intro">
            <div class="text">
                <div class="up">
                    <h1>ECOLOGIA</h1>
                </div>

                <div class="down">
                    <!-- filtrar imagem do drive -->
                    <div class="card">
                      <div class="card_img">
                          <img id="mapImage" [src]="imageUrl" alt="">
                      </div>
                    </div>

                    <div class="card">
                        <div class="card_body">
                          <button><a href="https://drive.google.com/file/d/1KAo6PU2jNNkrZNtRjHU0pEKiA3BmSJq7/view?usp=sharing">Acessar mapa mental</a></button>
                        </div>
                        <div class="card_img">
                            <img src="/assets/mapamental.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="practice">
        <h1>VAMOS PRATICAR?</h1>
        <p>Chegou a hora de você testar suas habilidades neste assunto e descobrir no que está bom(oa) ou no que pode melhorar. Simbora?</p>
    </section>

    <section class="question">
        <div class="image">
            <div class="enunciado">
                <p>As cobras estão entre os animais peçonhentos que mais causam acidentes no Brasil, principalmente na área rural. As cascavéis (Crotalus), apesar de extremamente venenosas, são cobras que, em relação a outras espécies, causam poucos acidentes a humanos. Isso se deve ao ruído de seu “chocalho”, que faz com que suas vítimas percebam sua presença e as evitem. Esses animais só atacam os seres humanos para sua defesa e se alimentam de pequenos roedores e aves. Apesar disso, elas têm sido caçadas continuamente, por serem facilmente detectadas.Ultimamente os cientistas observaram que essas cobras têm ficado mais silenciosas, o que passa a ser um problema, pois, se as pessoas não as percebem, aumentam os riscos de acidentes.A explicação darwinista para o fato de a cascavel estar ficando mais silenciosa é que:</p>
            </div>
            <br><br>
            <div class="alternativas">
                <p><b>A)</b> Primeira questão</p><br>
                <p><b>B)</b> Segunda questão</p><br>
                <p><b>C)</b> Terceira questão</p><br>
                <p><b>D)</b> Quarta questão</p><br>
                <p><b>E)</b> Quinta questão</p><br>
            </div>
            <div class="buttons">
                <button>Responder</button>
                <button>Gabarito</button>
            </div>
        </div>
    </section>

</body>
</html>
